<a column="12s 6m 4l 3xl" class="o-card__container" size="{{size}}" href="{{link}}">
    <div class="o-portfolio-card">
        <div class="o-card__sides">
            <div class="o-card__front" style="background-color: {{color}}">
                <responsive-image
                  active="true"
                  src="{{src}}"
                  alt="{{title}}"
                ></responsive-image>
            </div>
            <div class="o-card__back" style="background-color: {{color}}">
                <div class="o-card__content">
                    <h2 class="o-card__headline">{{title}}</h2>
                    <p class="o-card__copy">{{description}}</p>
                    <div class="arrow">&rarr;</div>
                </div>
            </div>
        </div>
    </div>
</a>
