<div class="Section Grid {{section.classes}} Section__media" mediacount="{{section.mediaResources.length}}">
  {{> "includes/sections/sectionTitle"}}

  {{#each section.mediaResources}}
    <lazy-picture class="Section__media__image" src="{{this.fields.image.fields.url}}" alt="{{this.fields.title}}">
      {{#each this.fields.sources}}
        <source media="{{this.fields.mediaQuery}}" srcset="{{this.fields.image.fields.url}}">
      {{/each}}
    </lazy-picture>
  {{/each}}
  {{#if (eq section.mediaResources.length 1) }}
    {{#if section.description}}
      <div class="Annotation">
        {{#if section.descriptionTitle}}
          <h5 class="Annotation__title">{{section.descriptionTitle}}</h5>
        {{/if}}
        <div class="Annotation__text">{{{section.description}}}</div>
      </div>
    {{/if}}
  {{/if}}
  {{#if (gt section.mediaResources.length 1) }}
    <div class="Section__media__description">
      {{#if section.descriptionTitle}}
        <h5 class="Section__media__description__title Section__subtitle">{{section.descriptionTitle}}</h5>
      {{/if}}
      {{#if section.description}}
        <p class="Section__media__description__text">{{section.description}}</p>
      {{/if}}
    </div>
  {{/if}}
</div>
