<div class="Section Grid {{conditional section.media.length 2 "Section__media__images--two" "Section__media__images--gallery"}} {{section.classes}}">
  {{> "includes/sections/sectionTitle"}}
  
  {{#each section.media}}
    <responsive-image class="Section__media__image" src="{{this.fields.url}}" alt="{{this.fields.title}}"></responsive-image>
  {{/each}}
  <div class="Section__media__description">
    {{#if section.descriptionTitle}}
      <h5 class="Section__subtitle">{{section.descriptionTitle}}</h5>
    {{/if}}
    <p>{{section.description}}</p>
  </div>
  <div class="Section__media__bg"></div>
</div>
