<div class="Section Grid {{item.classes}} Section__media" mediacount="{{item.mediaResources.length}}">
  {{#each item.mediaResources}}
    <lazy-picture class="Section__media__image" src="{{this.fields.image.fields.url}}" alt="{{this.fields.title}}">
      {{#each this.fields.sources}}
        <source media="{{this.fields.mediaQuery}}" srcset="{{this.fields.image.fields.url}}">
      {{/each}}
    </lazy-picture>
  {{/each}}
  {{#if (eq item.mediaResources.length 1) }}
    {{#if item.description}}
      <div class="Annotation">
        <div class="Annotation__text">{{{item.description}}}</div>
      </div>
    {{/if}}
  {{/if}}
  {{#if (gt item.mediaResources.length 1) }}
    <div class="Section__media__description">
      {{#if item.descriptionTitle}}
        <h5 class="Section__media__description__title Section__subtitle">{{item.descriptionTitle}}</h5>
      {{/if}}
      {{#if item.description}}
        <div class="Section__media__description__text">{{{item.description}}}</div>
      {{/if}}
    </div>
  {{/if}}
</div>
