{{> layouts/base title=(join "| " post.fields.title) }}
{{#*inline "header-block"}}
  <meta property="og:url" content="https://vea.re/blog/{{post.fields.slug}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{post.fields.title}}" />
  <meta property="og:description" content="{{post.fields.preview}}" />
  <meta property="fb:app_id" content="242882006242455" />
  {{#if post.fields.banner}}
    <meta property="og:image" content="{{post.fields.banner.fields.url}}" />
  {{else}}
    <meta property="og:image" content="https://vea.re/media/veare_facebook_share_image.png" />
  {{/if}}
{{/inline}}
{{#*inline "body"}}
  <article class="o-article" itemprop="mainEntityOfPage" itemid="/blog/{{post.fields.slug}}" itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="/blog/{{post.fields.slug}}" />
    {{#if post.fields.banner}}
      <div class="o-article__banner">
        <img src="{{post.fields.banner.fields.url}}" alt="{{post.fields.banner.fields.title}}" />
      </div>
    {{/if}}
    <div class="o-article__publication-details">
        <time class="o-article__time" itemprop="datePublished" datetime="{{fields.rawdate}}">{{post.fields.date}}</time> •&nbsp;
        <time class="o-article__read-time" datetime="{{fields.readingTime}}m">{{post.fields.readingTime}} min read</time>
    </div>
    <h1 itemprop="headline">{{post.fields.title}}</h1>

    <div class="o-article__author">
      — Published by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a class="author" href="https://twitter.com/lukasoppermann" itemprop="url" title="about {{post.fields.author.fields.name}}" rel="author"><span itemprop="name">{{post.fields.author.fields.name}}</span></a></span> / <span itemprop="publisher" itemtype="http://schema.org/Organization" itemscope><a itemprop="url" href="http://vea.re"><span itemprop="name">vea.re</span></a></span> —
    </div>
    <div class="o-article__content Grid">
      <blockquote class="o-blockquote c-article__blockquote--intro">
        {{{post.fields.intro}}}
      </blockquote>
    </div>
    <div class="o-article__content Grid">
      {{{post.fields.content}}}
      <div class="o-article__comment">
        I am interested in your feedback, please share your thoughts with me <a class="o-link o-link--decorated" title="Reply to my article with a tweet" href="https://twitter.com/intent/tweet?text={{url_safe post.fields.title}}">via Twitter</a>.
      </div>
    </div>
  </article>
  <script type="text/javascript" src="/{{staticFiles.[js/blog.js]}}"></script>
{{/inline}}
