<figure class="Picture__Element Picture__Element--{{item.style}} {{item.classes}}
  {{ifDefined item.backgroundColor ' Picture__Element--background'}}"
  {{{ifDefined item.backgroundColor (join ' style="--backgroundColor: ' item.backgroundColor '"')}}}
>
  <lazy-picture src="{{item.image.fields.url}}" alt="{{item.title}}">
    {{#each item.sources}}
      <source media="{{this.fields.mediaQuery}}" srcset="{{this.fields.image.fields.url}}">
    {{/each}}
  </lazy-picture>
</figure>
{{#if item.description}}
  <div class="Annotation">
    <div class="Annotation__text">{{{item.description}}}</div>
  </div>
{{/if}}
