<title>vea.re UI/UX Design{{#if title}} {{title}}{{else}} & Creative Direction{{/if}}</title>
<meta name="apple-mobile-web-app-title" content="veare" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="copyright" content="{{year}}" />
<meta name="robots" content="{{#if robots}}{{robots}}{{else}}index,follow{{/if}}" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="rgb(240, 170, 30)" />
<link rel="icon" href="/{{staticFiles.[media/veare-icon-32.png]}}" type="image/png" />
<link rel="icon" href="/{{staticFiles.[media/veare-icon-32.png]}}" type="image/png" sizes="32x32" />
<link rel="icon" href="/{{staticFiles.[media/veare-icon-96.png]}}" type="image/png" sizes="96x96" />
<link rel="apple-touch-icon" href="/{{staticFiles.[media/veare-icon-120.png]}}">
<link rel="apple-touch-icon" sizes="152x152" href="/{{staticFiles.[media/veare-icon-152.png]}}">
<link rel="apple-touch-icon" sizes="167x167" href="/{{staticFiles.[media/veare-icon-168.png]}}">
<link rel="apple-touch-icon" sizes="180x180" href="/{{staticFiles.[media/veare-icon-180.png]}}">
<link rel="manifest" href="/manifest.json" />

{{#> header-block}}
  {{!-- Additional header content --}}
{{/header-block}}
{{#> critical-css-block}}
  {{!-- Critical css in header --}}
{{/critical-css-block}}
{{{ inline_js staticFiles.[js/index.js] }}}
{{!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Source+Sans+Pro:400,600" rel="stylesheet" /> --}}
<link type="text/css" href="/{{staticFiles.[css/app.css]}}" rel="stylesheet" />
