<div class="Section Grid Section__media{{#each section.stylingOptions}} Section__media--{{this}}{{/each}} {{section.classes}}">
  {{#if section.showTitle}}<h4 class="o-headline o-headline--section-title">{{section.title}}</h4>{{/if}}
  {{#each section.media}}
    <responsive-image class="Section__media__image" src="{{this.fields.url}}" alt="{{this.fields.title}}"></responsive-image>
  {{/each}}
  <p class="Section__media__description">{{section.description}}</p>
  <div class="Section__media__bg"></div>
</div>
