<div class="Grid Project-card">
  <div class="Project-card__number">{{number}}</div>
  <h4 class="Project-card__client">{{project.client}}</h4>
  <h2 class="Project-card__title Headline--subtitle">{{project.subtitle}}</h2>

  <div class="Project-card__image-container">
  {{#if project.previewImage}}
    <responsive-image class="Project-card__image" src="{{project.previewImage.fields.url}}" alt="{{project.previewImage.fields.title}}"></responsive-image>
  {{/if}}
  </div>

</div>
